<head>
  <style>

  </style>
</head>

<body>
  <%= render partial: '/layouts/partials/random_quote' %>
  
  <div class="container">
    <div class="container text-center" text-align="center">
      <h1>Create Club</h1>
    </div><br>

    <div id="form" class="container">
      <%= form_with url: "/clubs",  method: :post, local: true do |f| %>
      <%= f.hidden_field :book_id, value: @book_id %>
      <%= f.hidden_field :host_id, value: session[:id] %>

      <div class="row">
        <div class="col">
          <div class="container">
            <%= f.label :name, 'Club Name' %>
            <%= f.text_field :name, required: true %><br><br><br>

            <button type="button" class="btn btn-secondary btn-lg"><%= f.submit "Create Book Club" %></button>
          </div>
        </div>

        <div class="col">
          <div class="container">
            <p>Invite Users? (*not required)</p>

            <% user_counter = 0 %>
            <% @users.each do |user| %>
              <div id="select-user-<%= user_counter %>">
                <% if user.id != current_user.id %>
                <p><%= check_box_tag('user_ids[]', user.id, nil, :id => user.username) %>
                   <%= f.label "#{user.username}" %></p>
                <% end  %>
              </div>
              <% user_counter += 1 %>
            <% end  %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>





</body>
