<head>
  <style>

    .book-img {
      width: 80%;
      height: auto;
      border-radius: 10px;
    }

    .comment-container {
      background-color: white;
      padding: 5px;
      border-left: 3px solid darkgray;
      border-bottom: 3px solid whitesmoke;
      border-radius: 5px;
    }

  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <!-- book club information -->
      <div class="col">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1>Club: <%= @club.name %> </h1>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h6>Club Book: <%= @book.title %> </h6>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <img class="book-img" src= <%= @book.image %> >
            </div>
          </div>
        </div><br>

        <div class="container">
          <div class="row">
            <div class="col">
              <h1>Members:</h1>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <ul>
              <% @club_users.each do |user| %>
                <% if user.id == @club.host_id.to_s %>
                <li><%= user.username %> (Host) - <%= user.email %> </li>
                <% else %>
                <li> <%= user.username %> - <%= user.email %></li>
                <% end %>
              <% end %>
              <ul>
            </div>
          </div>
        </div>

      </div>

      <!-- discussion section -->
      <div class="col">
        <div class="container">

          <div class="row">
            <div class="col">
              <h2>Discussion:</h2>
            </div>
          </div>

          <!-- make a comment -->
          <div class="row">
            <div id="comment-add">
              <h4>Add a Comment...</h4>
              <%= form_with url: '/comments', method: :post, local: true do |f| %>

              <%= f.text_field :title, required: :true, placeholder: 'Comment Title' %><br><br>

              <%= f.text_area :body, required: true, placeholder: 'Your message here' %><br

              <%= f.hidden_field :user_id, value: current_user.id %>

              <%= f.hidden_field :club_id, value: @club.id %>

              <%= f.submit 'Submit', method: :post %><br><br>
              <% end %>
            </div>
          </div>

          <!-- all comments -->
          <div class="row">
            <div class="col">
              <% @comments.each do |comment| %>
                <% @club_users.each do |user| %>
                  <% if comment.user_id == user.id.to_i %>
                  <p> <img src="<%= asset_path 'profile_pic_2.png' %>" width="20" height="20" class="rounded-circle">  <%= user.username %> </p>
                  <div class="comment-container">
                  <p><b> <%= comment.title %></b><br>
                <%= comment.body %></p>
              </div><br>
                  <% end  %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
