<h1><%= @club.name %></h1>
<h6>Club Book: <%= @book.title %> </h6>
<br>
<p>Members</p>
<% @club_users.each do |user| %>
  <% if user.id == @club.host_id.to_s %>
  <p><%= user.username %> (Host) - <%= user.email %> </p>
  <% else %>
  <p> <%= user.username %> - <%= user.email %></p>
  <% end %>
<% end %>
<br>
<br>
<h5>Comments </h5>
<% @comments.each do |comment| %>
  <% @club_users.each do |user| %>
    <% if comment.user_id == user.id.to_i %>
    <p> Comment by: <%= user.username %> </p>
    <p> <%= comment.title %>--
  <%= comment.body %></p>
  <br>
    <% end  %>
  <% end %>
<% end %>
