<header>
  <style>
    .container {
      margin: auto;
      width: 50%;
      border: 3px solid green;
      padding: 10px;
      position: relative;
      text-align: center;
      justify-content: center;
    }

    .comment-container {
    margin: auto;
    width: 100%;
    border: 3px dashed grey;
    padding: 10px;
    position: relative;
    text-align: center;
    justify-content: center;
  }

  </style>

  <div class="logo">
    <!-- Logo/App Name -->
    <%= render partial: '/layouts/partials/app_logo_banner' %>
    <!-- Logo/App Name -->

    <!-- Navbar -->
    <%= render partial: '/layouts/partials/nav_bar', locals: {links: {uri: '/', link_text: 'Home'}} %>
    <!-- Navbar -->
  </div><br>

</header>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1>Members</h1>
        <ul>
        <% @club_users.each do |user| %>
          <% if user.id == @club.host_id.to_s %>
          <li><%= user.username %> (Host) - <%= user.email %> </li>
          <% else %>
          <li> <%= user.username %> - <%= user.email %></li>
          <% end %>
        <% end %>
        <ul>
      </div>
      <div class="col-lg">
        <h1>Club: <%= @club.name %> </h1>
        <h6>Club Book: <%= @book.title %> </h6>
        <img src= <%= @book.image %>>
        <br><br>
          <h2>Comments</h2>
            <% @comments.each do |comment| %>
              <% @club_users.each do |user| %>
                <% if comment.user_id == user.id.to_i %>
                <h6> Comment by: <%= user.username %> </h6>
                <div class="comment-container">
                <p><b> <%= comment.title %></b>--
              <%= comment.body %></p>
              <br><br>
            </div>
                <% end  %>
              <% end %>
            <% end %>
            </div>
          </div>
      </div>
  <br>
  <div id="comment-add" class="container">
    <h4>Add a Comment...</h4>
    <%= form_with url: '/comments', method: :post, local: true do |f| %>

    <%= f.text_field :title, required: :true, placeholder: 'Comment Title' %><br><br>

    <%= f.text_area :body, required: true, placeholder: 'Your message here' %><br

    <%= f.hidden_field :user_id, value: current_user.id %>

    <%= f.hidden_field :club_id, value: @club.id %>

    <%= f.submit 'Submit', method: :post %><br><br>
    <% end %>
  </div>
</body>
