<header>
  <style>
    .container {
      margin: auto;
      width: 50%;
      border: 3px solid green;
      padding: 10px;
      position: relative;
      text-align: center;
      justify-content: center;
    }
  </style>

  <div class="logo">
    <!-- Logo/App Name -->
    <%= render partial: '/layouts/partials/app_logo_banner' %>
    <!-- Logo/App Name -->

    <!-- Navbar -->
    <%= render partial: '/layouts/partials/nav_bar', locals: {links: {uri: '/', link_text: 'Home'}} %>
    <!-- Navbar -->
  </div><br>

</header>

<body>

  <h1><%= @user.username %>'s Dashboard</h1>

  <%= button_to 'Create New Book Club', '/registerclub' %>


  <div class="container">
    <div class="book-container">
      <% @user.books.each do |book| %>
        <p><%= link_to book.name, book_path(book) %></p>
      <% end %>
    </div>
  </div>



</body>
