<head>
  <style>
    #static-quote {
      position: relative;
      text-align: center;
      padding: 20px;
    }

    .cover-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      height: auto;
      border-radius: 10px;
    }

    /* Style the button that is used to open and close the collapsible content */
    .collapsible {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .collapsible:hover {
      background-color: #ccc;
    }

    /* Style the collapsible content. Note: hidden by default */
    .content {
      padding: 0 18px;
      display: none;
      overflow: hidden;
      background-color: #f1f1f1;
    }
  </style>

</head>

<body>
  <div class="container">
    <div id="static-quote">
      <p>"You will be the same person in five years as you are today except for the people you meet and the books you read." <br>

        - Charlie "Tremendous Jones"
      </p>
    </div>
  </div><br>

  <div class="container">
    <div class="row">
        <!-- search bar -->
        <div class="col">
          <div class="container">
              <div class="row">
                  <div class="col">
                    <h3>Discover Books</h3>
                  </div>

                  <div class="row">
                      <div class="col">
                        <%= form_with url: '/', method: :get, local: true do |f| %>
                        <%= f.text_field :search, required: true %><br><br>
                        <%= f.submit "Search" %>
                        <% end %><br>

                        <%= render partial: '/layouts/partials/render_flash' %>
                      </div>

                  </div>

                  <div class="row">
                    <div class="col-md-8 col-md-offset-3">
                      <% if @books %>
                      <h3>Results</h3>
                        <% @books.each do |book| %>
                          <p> <%= link_to book.title, "/books/#{book.id}" %> </p>
                        <% end %>
                      <% end  %>
                    </div>
                  </div>
              </div>
          </div>
        </div>

        <!-- books and clubs -->
        <div class="col">
          <!-- book of the week -->
          <div class="container">
            <div class="row">
              <h3>Book of the Week!</h3>
            </div>

            <div class="row">
              <div class="col">
                <div class="row">
                  <a href="/books/<%= @book_of_the_week.id %>">
                    <img class="cover-img" src="<%= @book_of_the_week.larger_image %>" alt="book of the week cover">
                  </a>
                </div>
              </div>

              <div class="col">
                <div class="row">
                  <p>Author: <% @book_of_the_week.author.each do |author| %>
                    <%= author %>
                    <% end %></p>
                </div>

                <div class="row">
                  <% if @book_of_the_week.genre == nil%>
                      <p> Genre(s): n/a</p>
                  <% else %>
                  <p>Genre(s): <% @book_of_the_week.genre.each do |genre| %>
                    <%= genre %>
                    <% end %>
                  <% end %> </p>
                </div>

                <div class="row">
                  <button type="button" class="collapsible">Summary</button>

                  <div class="content">
                    <p> <%= sanitize @book_of_the_week.summary %> </p>
                  </div>

                  <script>
                    var coll = document.getElementsByClassName("collapsible");
                    var i;

                    for (i = 0; i < coll.length; i++) {
                      coll[i].addEventListener("click", function() {
                        this.classList.toggle("active");
                        var content = this.nextElementSibling;
                        if (content.style.display === "block") {
                          content.style.display = "none";
                        } else {
                          content.style.display = "block";
                        }
                      });
                    }
                  </script>
                </div>

              </div>
            </div>


          </div>
          <!-- popular books -->
          <div class="container">
            <h3>Popular Books</h3>

            <p>Books go here</p>
          </div><br>

          <!-- popular clubs -->
          <!-- <div class="container">
            <h3>Popular Clubs</h3>

            <p>Clubs go here</p>
          </div> -->
        </div>
    </div>
  </div>


</body>
