<header>
  <style>
    body {
      background-color: whitesmoke;
    }

    #static-quote {
      position: relative;
      text-align: center;
      padding: 20px;
    }

    .container {
      background-color: white;
      padding: 15px;
      border-radius: 15px;
      border: 3px solid whitesmoke;
    }
  </style>
</header>

<body>
  <div class="container">
    <div id="static-quote">
      <p>"You will be the same person in five years as you are today except for the people you meet and the books you read." <br>

        - Charlie "Tremendous Jones"
      </p>
    </div>
  </div><br>

  <div class="container">
    <div class="row">
        <!-- search bar -->
        <div class="col">
          <div class="container">
              <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <h3>Discover Books</h3>
                  </div>

                  <div class="row">
                      <div class="col">
                        <%= form_with url: '/', method: :get, local: true do |f| %>
                        <%= f.text_field :search, required: true %><br><br>
                        <%= f.submit "Search" %>
                        <% end %><br>

                        <%= render partial: '/layouts/partials/render_flash' %>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-md-8 col-md-offset-3">
                      <% if @books %>
                      <h3>Results</h3>
                        <% @books.each do |book| %>
                          <p> <%= link_to book.title, "/books/#{book.id}" %> </p>
                        <% end %>
                      <% end  %>
                    </div>
                  </div>
              </div>
          </div>
        </div>

        <!-- books and clubs -->
        <div class="col">
          <!-- popular books -->
          <div class="container">
            <h3>Popular Books</h3>

            <p>Books go here</p>
          </div><br>

          <!-- popular clubs -->
          <div class="container">
            <h3>Popular Clubs</h3>

            <p>Clubs go here</p>
          </div>

        </div>
    </div>
  </div>


</body>
