<!DOCTYPE html>
<html>

  <head>
    <title>BookClubFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <style media="screen">
      body {
        background-color: whitesmoke;
      }

      .container {
        background-color: white;
        padding: 15px;
        border-radius: 15px;
        border: 3px solid whitesmoke;
      }
    </style>
  </head>

  <body>
    <!-- Navbar -->
    <nav>
      <%= render partial: '/layouts/partials/logo_nav_profile' %>
    </nav><br>

    <%= yield %>
  </body>
</html>
