<!DOCTYPE html>
<html>
  <head>
    <title>BookClubFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |type, notice| %>
        <div class="alert alert-info">
          <p><%= notice %></p>
        </div>
    <% end %>
    <%= yield %>
  </body>
</html>
